# Copy to pi/kestrel.env on the Pi if you want to run the stack manually
# without systemd. Set NATSEC_UDP_HOST to the laptop IP running dash.
NATSEC_UDP_HOST=172.20.10.3
NATSEC_UDP_PORT=10110
NATSEC_DEBUG_UDP_ENABLED=1
NATSEC_DEBUG_UDP_PORT=10111
NATSEC_CAMERA_PORT=8080
NATSEC_CAM0_ID=0
NATSEC_CAM1_ID=2
NATSEC_CAMERA_WIDTH=640
NATSEC_CAMERA_HEIGHT=480
